body {
    background-color: beige;
}

.navbar-nav {
    width: 50%;
    display: flex;
    justify-content: space-around;

    @media (min-width: 414px) {
        width: 100%
    }
}

.container-logo-img>a>img {
    width: 120px;
    height: 100px;
}

img {
    width: 18rem;
}